.btn {
    width: 125px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin-top: 10px;

    
    &.btn-amarelo {
        background-color: gold;
        
    }

    &.btn-azul {
        background-color: darkblue;
        color: white;
    }
}

.btn-roxo {
    @extend .btn;
    background-color: purple;
    color: white;
}
